.CartModal {
  display: flex;
  flex-direction: column;
  position: absolute;
  max-height: 30rem;
  min-height: fit-content;
  max-width: fit-content;
  min-width: 15%;
  padding: 1rem;
  padding-bottom: 0;
  background-color: white;
  z-index: 1000;
  overflow-y: scroll;
  margin-right: 0;
  top: 4rem;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cart-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding: 1rem;
}

.cart-empty > div {
  padding-bottom: 2rem;
}

.cart-empty > i {
  font-size: 8rem;
  color: steelblue;
}

.cart-empty > a {
  width: 100%;
  margin-top: 1rem;
}

.cart-empty > * button {
  border-radius: 3px;
  border: none;
  padding: 0.3rem 0.4rem;
  background-color: #22c55ee1;
  width: 100%;
}

.cart-empty > * button:hover {
  cursor: pointer;
  background-color: #16a34a;
}

.CartModal > .item-div {
  overflow: scroll;
}

.CartModal > .item-div > *:last-child {
  border: none;
}

.overlay {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.734);
}

.modal-item-name {
  font-size: 0.7rem;
}

.view-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid black;
}

.view-cart > * button {
  border-radius: 3px;
  border: none;
  padding: 0.3rem 0.4rem;
  background-color: #22c55ee1;
}

.view-cart > * button:hover {
  cursor: pointer;
  background-color: #16a34a;
}

.view-cart > div:last-child {
  font-weight: bold;
}
