.Item{  
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
  font-size: 0.7rem;
  padding:10%;
}



.Item>div:first-child{
  height: 70%;
  display: flex;
  justify-content: center;
}

.Item>div:last-child{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30%;
  padding-top: 0.5rem;
}

.name{
  font-size: 0.8rem;
  font-weight: bold;
  padding-bottom: .2rem;
}

.series{
  color: #52525b;
  font-style: italic;
}

.price{
  margin-top: auto;
  font-size: 1rem;
  font-weight: bold;
}

.Item>div>button{
  font-size: 1rem;
  font-weight: 600;
  background-color: black;
  color: white;
  border:none;
  border-radius: 4.5px;
  align-self: center;
  width: 100%;
  padding: .2rem;
}

.Item>div>button:hover{
  cursor: pointer;
  background-color: #262626;
}

.Item>div>img{
  border-radius: 3px;
    width: 100%;
    height: 95%;
}
