.Item {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
  font-size: 0.7rem;
  padding: 10%;
  height: 27rem;
  max-width: 17rem;
}

.Item > div:first-child {
  height: 70%;
  display: flex;
  justify-content: center;
}

.Item > div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30%;
  padding-top: 0.5rem;
}

.name {
  font-size: 0.8rem;
  font-weight: bold;
  padding-bottom: 0.2rem;
}

.series {
  color: #52525b;
  font-style: italic;
}

.price {
  margin-top: auto;
  font-size: 1rem;
  font-weight: bold;
  margin-left: auto;
  margin-bottom: 0.5rem;
}

.Item > div > button {
  font-size: 1rem;
  font-weight: 600;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4.5px;
  align-self: center;
  width: 100%;
  padding: 0.2rem;
}

.Item > div > button:hover {
  cursor: pointer;
  background-color: #4a4949;
}

.Item > div > img {
  border-radius: 3px;
  height: 95%;
}
