.Shop {
  display: grid;
  grid-template-columns: 1.7fr 10fr;
  background-color: #e5e7eb;
}

.Shop > .sidebar {
  grid-column: 1/2;
  background-color: #e5e7eb;
  width: fit-content;
  white-space: nowrap;
  width: 100%;
}

.Shop > .sidebar > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.3rem;
  font-size: 0.8rem;
  padding: 1rem;
  padding-right: 0;
}

.Shop > .main {
  grid-column: 2/3;
  display: flex;
}

.Shop > .sidebar > div > li {
  cursor: pointer;
  list-style-type: none;
  padding-bottom: 0.2rem;
  border-bottom: 0.1rem solid #e5e7eb;
  display: flex;
  padding: 0.2rem;
  padding-left: 0.5rem;
}

.Shop > .sidebar > div > div {
  font-size: 0.9rem;
  font-weight: bold;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
}

.Shop > .sidebar > div > li:hover {
  border-bottom: 0.1rem solid;
  cursor: pointer;
}

.current {
  border-bottom: 0.1rem solid !important;
  color: #27272a;
}
